# JWT Security
SECRET_KEY=your_secret_key_here

# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=osint_db

# Redis / Celery
REDIS_URL=redis://localhost:6379/0

# OSINT External Config
XON_API_KEY=